In [46]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\tahas\appdata\roaming\python\python310\site-packages (1.4.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\tahas\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tahas\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tahas\appdata\roaming\python\python310\site-packages (from scikit-learn) (3.4.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tahas\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.13.0)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\tahas\appdata\roaming\python\python310\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\tahas\appdata\roaming\python\python310\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\tahas\appdata\roaming\python\python310\site-packages (from xgboost) (1.13.0)

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# Big Mart Sales Prediction

# Training Dataset

In [37]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [38]:
df = pd.read_csv("C:\\Users\\ELCOT\Desktop\\Project\\Final year project\\Code\\big-mart-sales\\Train-Set.csv") 
d2 = pd.read_csv("C:\\Users\\ELCOT\Desktop\\Project\\Final year project\\Code\\big-mart-sales\\Test-Set.csv") 
d3 = pd.read_csv("C:\\Users\\ELCOT\Desktop\\Project\\Final year project\\Code\\big-mart-sales\\Test-Set.csv")

In [39]:
df.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,OutletSales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [40]:
df.shape

(8523, 12)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ProductID          8523 non-null   object
 1   Weight             7060 non-null   float64
 2   FatContent         8523 non-null   object
 3   ProductVisibility  8523 non-null   float64
 4   ProductType        8523 non-null   object
 5   MRP                8523 non-null   float64
 6   OutletID           8523 non-null   object
 7   EstablishmentYear  8523 non-null   int64
 8   OutletSize         6113 non-null   object
 9   LocationType       8523 non-null   object
 10  OutletType         8523 non-null   object
 11  OutletSales        8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [42]:
df["Weight"].fillna(df["Weight"].mean(),inplace = True)
df.isnull().sum()

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8792\3130753678.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Weight"].fillna(df["Weight"].mean(),inplace = True)

ProductID               0
Weight                  0
FatContent              0
ProductVisibility       0
ProductType             0
MRP                     0
OutletID                0
EstablishmentYear       0
OutletSize           2410
LocationType            0
OutletType              0
OutletSales             0
dtype: int64

In [46]:
mode_of = df["OutletSize"].mode()[0]
print(mode_of)

Medium

In [47]:
df["OutletSize"].fillna(mode_of, inplace=True)
df.isnull().sum()

ProductID            0
Weight               0
FatContent           0
ProductVisibility    0
ProductType          0
MRP                  0
OutletID             0
EstablishmentYear    0
OutletSize           0
LocationType         0
OutletType           0
OutletSales          0
dtype: int64

In [48]:
df.describe()

,Weight,ProductVisibility,MRP,EstablishmentYear,OutletSales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.226124,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.826500,1987.000000,834.247400
50%,12.857645,0.053931,143.012800,1999.000000,1794.331000
75%,16.000000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [49]:
df['FatContent'].value_counts()

FatContent
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [50]:
df.replace({'FatContent': {'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'}},inplace=True)
df['FatContent'].value_counts()

FatContent
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [51]:
df.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,OutletSales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [52]:
encoder = LabelEncoder()

In [53]:
df['FatContent'] = encoder.fit_transform(df['FatContent'])
df['ProductType'] = encoder.fit_transform(df['ProductType'])
df['OutletSize'] = encoder.fit_transform(df['OutletSize'])
df['LocationType'] = encoder.fit_transform(df['LocationType'])
df['OutletType'] = encoder.fit_transform(df['OutletType'])
df['OutletID'] = encoder.fit_transform(df['OutletID'])
df['ProductID'] = encoder.fit_transform(df['ProductID'])

In [54]:
df.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,OutletSales
0,156,9.30,0,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,5.92,1,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,662,17.50,0,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1121,19.20,1,0.000000,6,182.0950,0,1998,1,2,0,732.3800
4,1297,8.93,0,0.000000,9,53.8614,1,1987,0,2,1,994.7052

In [55]:
x = df.drop(columns = 'OutletSales',axis = 1)
y = df["OutletSales"]

In [56]:
x

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType
0,156,9.300,0,0.016047,4,249.8092,9,1999,1,0,1
1,8,5.920,1,0.019278,14,48.2692,3,2009,1,2,2
2,662,17.500,0,0.016760,10,141.6180,9,1999,1,0,1
3,1121,19.200,1,0.000000,6,182.0950,0,1998,1,2,0
4,1297,8.930,0,0.000000,9,53.8614,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
8518,370,6.865,0,0.056783,13,214.5218,1,1987,0,2,1
8519,897,8.380,1,0.046982,0,108.1570,7,2002,1,1,1
8520,1357,10.600,0,0.035186,8,85.1224,6,2004,2,1,1
8521,681,7.210,1,0.145221,13,103.1332,3,2009,1,2,2
8522,50,14.800,0,0.044878,14,75.4670,8,1997,2,0,1

In [57]:
y

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: OutletSales, Length: 8523, dtype: float64

# Training dataset prediction

In [58]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=2)
print(x.shape,x_train.shape,x_test.shape)

(8523, 11) (5966, 11) (2557, 11)

In [59]:
model = XGBRegressor(n_estimators = 750,learning_rate = 0.007)

In [60]:
model.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.007, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=750, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [61]:
train_data_prediction = model.predict(x_train)

In [62]:
r2_train = metrics.r2_score(y_train,train_data_prediction)
print("R Squared Value : ",r2_train)

R Squared Value :  0.6901407994525626

# Testing dataset

In [63]:
d2.shape
d2.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [64]:
d3.shape
d3.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [65]:
d2.isnull().sum()

ProductID               0
Weight                976
FatContent              0
ProductVisibility       0
ProductType             0
MRP                     0
OutletID                0
EstablishmentYear       0
OutletSize           1606
LocationType            0
OutletType              0
dtype: int64

In [66]:
d2["Weight"].fillna(d2["Weight"].mean(),inplace=True)
d3["Weight"].fillna(d3["Weight"].mean(),inplace=True)
d2.isnull().sum()

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8792\2208025922.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d2["Weight"].fillna(d2["Weight"].mean(),inplace=True)
C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8792\2208025922.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d3["Weight"].fillna(d3["Weight"].mean(),inplace=True)

ProductID               0
Weight                  0
FatContent              0
ProductVisibility       0
ProductType             0
MRP                     0
OutletID                0
EstablishmentYear       0
OutletSize           1606
LocationType            0
OutletType              0
dtype: int64

In [67]:
mode_of_d2 = d2["OutletSize"].mode()[0]
print(mode_of_d2)

Medium

In [68]:
mode_of_d3 = d3["OutletSize"].mode()[0]
print(mode_of_d3)

Medium

In [69]:
d2["OutletSize"].fillna(mode_of_d2, inplace=True)
d2.isnull().sum()

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8792\3460510846.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d2["OutletSize"].fillna(mode_of_d2, inplace=True)

ProductID            0
Weight               0
FatContent           0
ProductVisibility    0
ProductType          0
MRP                  0
OutletID             0
EstablishmentYear    0
OutletSize           0
LocationType         0
OutletType           0
dtype: int64

In [70]:
d3["OutletSize"].fillna(mode_of_d3, inplace=True)
d3.isnull().sum()

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_8792\438030084.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d3["OutletSize"].fillna(mode_of_d3, inplace=True)

ProductID            0
Weight               0
FatContent           0
ProductVisibility    0
ProductType          0
MRP                  0
OutletID             0
EstablishmentYear    0
OutletSize           0
LocationType         0
OutletType           0
dtype: int64

In [71]:
d2.replace({'FatContent': {'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'}},inplace=True)
d3.replace({'FatContent': {'low fat':'Low Fat','LF':'Low Fat','reg':'Regular'}},inplace=True)
d2['FatContent'].value_counts()

FatContent
Low Fat    3668
Regular    2013
Name: count, dtype: int64

In [72]:
encoder = LabelEncoder()
d2['FatContent'] = encoder.fit_transform(d2['FatContent'])
d2['ProductType'] = encoder.fit_transform(d2['ProductType'])
d2['OutletSize'] = encoder.fit_transform(d2['OutletSize'])
d2['LocationType'] = encoder.fit_transform(d2['LocationType'])
d2['OutletType'] = encoder.fit_transform(d2['OutletType'])
d2['OutletID'] = encoder.fit_transform(d2['OutletID'])
d2['ProductID'] = encoder.fit_transform(d2['ProductID'])

In [73]:
d2.head()

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType
0,1103,20.750000,0,0.007565,13,107.8622,9,1999,1,0,1
1,1067,8.300000,1,0.038428,4,87.3198,2,2007,1,1,1
2,1406,14.600000,0,0.099575,11,241.7538,0,1998,1,2,0
3,809,7.315000,0,0.015388,13,155.0340,2,2007,1,1,1
4,1184,12.695633,1,0.118599,4,234.2300,5,1985,1,2,3

# Test data prediction

In [74]:
model.fit(x,y)
test_predictions = model.predict(d2)
print(test_predictions)

[1567.7517 1345.2489  723.4182 ... 1875.9459 3511.1724 1376.9524]

In [75]:
OutletSales = test_predictions 
df = pd.DataFrame(OutletSales, columns = ['OutletSales'])

d2['result'] = OutletSales
d2.head(8)

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,result
0,1103,20.750000,0,0.007565,13,107.8622,9,1999,1,0,1,1567.751709
1,1067,8.300000,1,0.038428,4,87.3198,2,2007,1,1,1,1345.248901
2,1406,14.600000,0,0.099575,11,241.7538,0,1998,1,2,0,723.418213
3,809,7.315000,0,0.015388,13,155.0340,2,2007,1,1,1,2377.866211
4,1184,12.695633,1,0.118599,4,234.2300,5,1985,1,2,3,6394.791016
5,461,9.800000,1,0.063817,6,117.1492,8,1997,2,0,1,1910.555542
6,604,19.350000,1,0.082602,0,50.1034,3,2009,1,2,2,662.930603
7,266,12.695633,0,0.015782,0,81.0592,5,1985,1,2,3,2213.275391

In [76]:
d3['result'] = OutletSales
d3.head(8)

,ProductID,Weight,FatContent,ProductVisibility,ProductType,MRP,OutletID,EstablishmentYear,OutletSize,LocationType,OutletType,result
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1567.751709
1,FDW14,8.300000,Regular,0.038428,Dairy,87.3198,OUT017,2007,Medium,Tier 2,Supermarket Type1,1345.248901
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Medium,Tier 3,Grocery Store,723.418213
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Medium,Tier 2,Supermarket Type1,2377.866211
4,FDY38,12.695633,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,6394.791016
5,FDH56,9.800000,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1,1910.555542
6,FDL48,19.350000,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2,662.930603
7,FDC48,12.695633,Low Fat,0.015782,Baking Goods,81.0592,OUT027,1985,Medium,Tier 3,Supermarket Type3,2213.275391

# Converting csv file

In [77]:
d2.to_csv("d2.csv")

In [79]:
d3.to_excel("d3.xlsx", index=False)

In [80]:
d3.to_json("d3.json", orient="records")